<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
      <pipelines>
          <initialize>
              <processor type="Feature.Grid.Pipelines.Initialize.RegisterCustomRoutes, Feature.Grid" patch:after="processor[@type='Sitecore.Pipelines.Loader.ShowVersion, Sitecore.Kernel']"/>
          </initialize>
      </pipelines>
  </sitecore>
</configuration>