@model Feature.Grid.Models.Page
<script type="text/javascript">
    var itemId = "@Model.Id";
    var templates = "@Model.TemplatesJson";
    var fields = "@Model.FieldsJson";
    var database = "@Model.Database";
</script>


<div class="gridapp"></div>