<!DOCTYPE html>
<html>
<head>
    <script src="~/dist/lib/jquery.min.js"></script>
    <script src="~/dist/lib/gridjs.development.min.js"></script>
    <script src="~/dist/app/gridapp.js"></script>
    <link rel="stylesheet" type="text/css" href="~/dist/theme/mermaid.min.css" />
</head>
<body>
    <div class="container body-content">
        @RenderBody()
    </div>
</body>
</html>